body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    
}

.screen {
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* margin-bottom: 20px; */
    margin:1rem;
    width: 100%;
    box-shadow: 0 0 6px var(--secondary-color);
    margin-top: 0px;
}
.screen:hover
{
    box-shadow: 0 0 10px var(--secondary-color);
}



.form h1 span {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



.form h2 {
    color: var(--secondary-color);
    opacity: 0.5;
    text-align: center;
   
}

.form h3{
    color: var(--secondary-color);
    opacity: 0.5;
}

.form-input {
    margin-top: 20px;
}

.btn-primary {
    
    background: #111;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.file-input {
    margin-top: 20px;
}

.file-input label {
    display: block;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
}

.file-input input {
    display: none;
}

.files-list {
    margin-top: 20px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #343a40;
}

.storage-form h3{
    text-align: left;
}

.inactive{
    display: none;
}

#sender-start-con-btn
{
    width: 30%;
    margin-left: 30%;
}

#join-id span,
#join-id b
{
    color: var(--secondary-color);
   
}
#join-id span
{
    cursor: pointer;
}
/* --------------------------------------------------------- */


#address,
#storage-capacity,
#price,
#email {
    width: 100%; 
    padding: 10px; 
    border: 2px solid var(--secondary-color); 
    opacity: 0.6;
    border-radius: 8px; 
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


#address:focus,
#storage-capacity:focus,
#price:focus,
#email:focus {
    outline: none; 
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}



.mb-3 label
{
    color: var(--secondary-color);
    font-size: large;
}


@media (min-width: 200px) and (max-width: 580px) {
    #respo {
      overflow: auto; 
    }
    .screen
    {
        width: 90%;
    }
  }

  @media (min-width: 200px) and (max-width: 992px) {
    #sender-start-con-btn
    {
        margin-left: 21%;
        width: 50%;
    }
  }

  @media (max-width:338px)
  {
    #sender-start-con-btn
    {
        margin-left: 21%;
        width: 70%;
        font-size: small;
    }

  }

  