<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/aboutus/aboutus.css">
</head>
<body>
    <header> <%- include('navbar')%> </header>

    <section>
        <div class="container text">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse voluptatum non inventore provident eligendi quidem aut asperiores quaerat, obcaecati temporibus molestiae deleniti laudantium optio, eius in dolore ratione! Consequatur rem in maiores laboriosam dicta, officiis veniam cum accusamus neque ratione aspernatur soluta reprehenderit vel nulla aliquid. Ad incidunt atque mollitia.</p>
        </div>
    </section>

    <section>
        <div class="container flex pricing">
            <div class="image">
                <img src="/aboutus/Pricing-strategies.png" alt="">
            </div>
            <div class="pricing-detail flex">
                <h2>Pricing</h2>
                <h3>Choose as per your requirement</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum numquam dolorem recusandae nulla, soluta quos debitis impedit saepe quaerat, culpa optio aliquam incidunt quo. Blanditiis.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container flex pricing" style="flex-direction: row-reverse;">
            <div class="image">
                <img src="/aboutus/vision.jpg" alt="">
            </div>
            <div class="pricing-detail flex">
                <h2>Vision</h2>
                <h3>Our Vision is to</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum numquam dolorem recusandae nulla, soluta quos debitis impedit saepe quaerat, culpa optio aliquam incidunt quo. Blanditiis.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container flex pricing">
            <div class="image">
                <img src="/aboutus/mission.jpg" alt="">
            </div>
            <div class="pricing-detail flex">
                <h2>Mission</h2>
                <h3>Our Mission is to</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum numquam dolorem recusandae nulla, soluta quos debitis impedit saepe quaerat, culpa optio aliquam incidunt quo. Blanditiis.</p>
            </div>
        </div>
    </section>
    <footer> <%- include('footer')%> </footer>
</body>
</html>