
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/aboutus/aboutus.css">
</head>
<body id="respo">
    <header> <%- include('navbar')%> </header>

    <section>
        <div class="container1 text">
            <h1>About Us</h1>
            <p>Empowering a decentralized future, Storage Marketplace is your go-to marketplace linking
                data owners to storage providers. Bridging the gap between data owners and storage providers,
                we facilitate a secure, transparent, and user-centric platform, revolutionizing the way individuals
                and businesses manage their data.</p>
        </div>
    </section>

    <section>
        <div class="container1 flex pricing">
            <div class="image">
                <img src="/aboutus/Pricingnew.png" alt="">
            </div>
            <div class="pricing-detail flex">
                <h2>Pricing</h2>
                <h3>Choose as per your requirement</h3>
                <p>The pricing model for storage owners on our platform is set at 100 INR for 100 gigabytes, and the
                    security deposit on behalf of the data owner to ensure the safety and integrity of their stored data is
                    calculated as 30% of this rental price. This deposit serves as a protective measure, assuring users that
                    their data remains secure and untampered throughout the storage rental period.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container1 flex pricing" id="vision">
            <div class="image">
                <img src="/aboutus/visionnew.jpg" alt="">
            </div>
            <div class="pricing-detail flex">
                <h2>Vision</h2>
                <h3>Our Vision is to</h3>
                <p>Our vision at Storage Marketplace is to revolutionize data storage, fostering a decentralized
                    ecosystem where individuals and businesses seamlessly connect to share and utilize unused storage
                    space securely. We aim to empower a global community, promoting transparency, trust, and innovation
                    in the digital storage landscape. Through cutting-edge technology and fair pricing models, we envision a
                    future where data owners and storage providers collaborate effortlessly.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container1 flex pricing">
            <div class="image">
                <img src="/aboutus/mission.jpg" alt="">
            </div>
            <div class="pricing-detail flex">
                <h2>Mission</h2>
                <h3>Our Mission is to</h3>
                <p>Our mission at Storage Marketplace is to provide a user-centric decentralized storage marketplace,
                    offering a reliable and transparent platform for data owners and storage providers. We strive to
                    facilitate secure, efficient, and affordable storage solutions, empowering users to effortlessly access and
                    share digital resources. Committed to fostering trust and innovation, we aim to reshape the way data is
                    stored globally, promoting a sustainable and community-driven approach to decentralized storage.</p>
            </div>
        </div>
    </section>
    <footer> <%- include('footer')%> </footer>
</body>
</html>

