<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer</title>
    <!-- footer style -->
    <link rel="stylesheet" href="/footer/footer.css">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    

    <footer>
        <div class="footer_container">
            <div class="footer_column">
                <h3 id="dark">Services</h3>
                <a href="#">RENT STORAGE</a>
                <a href="#">USE STORAGE</a>
                <a href="#">DECENTRALIZED</a>
                <a href="#">SECURE</a>
                <a href="#">CHEAPER</a>
                <!-- <a href="#">SIMPLE</a> -->
                <!-- <a href="#">Myntra Insider</a> -->
            </div>

            <div class="footer_column">
                <h3 id="dark">Useful Links</h3>
                <a href="#">HOME</a>
                <a href="#">STORAGE</a>
                <a href="#">PROFILE</a>
                <a href="#">ABOUT US</a>    
                <a href="#">RATE US</a>
                <!-- <a href="#">Gift Card</a>
                <a href="#">Myntra Insider</a> -->
            </div>

            <div class="footer_column">
                <h3 id="dark">Contact Us</h3>
                <p>Get in touch with our team for inquiries and support.</p>
                <p>Email: info@StorageMarketplace.com</p>
                <p>Phone: 9876543210</p>
            </div>
        </div>
        <hr>

        <div class="footer_end">
            <div class="copyright">
                © 2024 www.StorageMarketplace.com. All rights reserved
            </div>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
