<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

        <!-- Cloud -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
    <title>Home Page</title>


    <!-- own css -->
    <link rel="stylesheet" href="/Home/home.css">
    <!-- <link rel="stylesheet" href="responsive.css"> -->

    <!-- <script src="index.js" defer></script> -->
    <!-- <script src="home.js" defer></script> -->

    
</head>

<body id="respo">
    <!-- Navbar -->
    <header>
        <div>
            <%- include('navbar')  %>
        </div>
    </header>

    <section class="homepg">
        <div class="container-flex">
            <div class="row">
                <div class="col" style="margin-left: 10px;" id="col-1">
                    <!-- <span class="material-symbols-outlined">
                        cloud
                        </span> -->
                        <!-- <i class='bx bxs-cloud centered-icon'></i> -->
                    <!-- <img src="cloudlogo.jpg" class="rounded mx-auto d-block" style="width: 100px;" alt="..."> -->
                    <h1 id="decmarket">Storage Marketplace</h1>
                    <h2>Your own space to</h2>
                    <h2>store and Share files Securely</h2>
                    <!-- <div class="text-center" style="margin-top: 15px;">
                        <button type="button" class="btn" style="height: 50px; width: 200px;">Get Started</button>
                    </div> -->
                    <div class="btn-align">
                        <button class="button"><a href="/aboutus">Click Here</a></button>
                    </div>
                </div>
                <div class="col">
                    <img class="disk" src="/Home/disk.png" >
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <div><%- include('footer')  %></div>
    </footer>
    
        
    
</body>

</html>