<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/receiver/receiver.css">
</head>
<body id="respo">
    <header><%- include('navbar')  %></header>
    <div id="email" style="display: none;"><%= email %></div>
    <div class="app">
        <div class="form-input">
            <b>My Id</b>
            <span id="myId"></span>
        </div>
        <div id="connected-peer"></div>
        <div class="progress-container">
            <div class="progress-bar" id="file-progress">0%</div>
        </div>
        <div class="screen fs-screen">
            
            <div class="files-list">
                <div class="title" id="sharedfile">Shared Files :</div>
                <ul id="file-list"></ul>
            </div>
        </div>
    </div>

    <footer><%- include('footer')  %></footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.1/download.min.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/receiver.js"></script>
</body>
</html>