
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Sender</title>
    <link rel="stylesheet" href="/sender/sender.css">
  </head>
  <body id="respo">
    <header><%- include('navbar')  %></header>
    <div class="container">
        <div class="row">
            <!-- First Column -->
            <div class="col-md-6">
                <div class="screen join-screen active">
                    <div class="form">
                        <h1><span>Send Files</span></h1>
                        <hr>
                        <h2>Share your files securely</h2>
                        <div class="form-input">
                            <button class="btn btn-primary" id="sender-start-con-btn">Create Room</button>
                        </div>
                        <div class="form-input" id="join-id">
                            <!-- Your content for the 'join-id' goes here -->
                            </div>
                        </div>
                       <!-- Storage Owner Details Form -->
                       <div class="storage-form">
                        <h3>Storage Owner Details:</h3>
                        <form id="storage-owner-details-form">
                            <div class="mb-3 row">
                                <label for="email" class="col-sm-4 col-form-label">Email ID:</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="address" class="col-sm-4 col-form-label">Address:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="address" name="address">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="storage-capacity" class="col-sm-4 col-form-label">Capacity:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="storage-capacity" name="storage-capacity">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="price" class="col-sm-4 col-form-label">Price:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="price" name="price">
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            
    
            <!-- Second Column -->
            <div class="col-md-6">
                <div class="screen fs-screen inactive">
                    <div class="file-input">
                        <label for="file-input">
                            Click here to select files for sharing
                        </label>
                        <!-- <button class="share-button">Share</button> -->
                        <input type="file" id="file-input">
                    </div>
                    <div class="files-list">
                        <div class="title"><h3>Shared Files:</h3></div>
                        <!-- Add your content for the files list here -->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    
    <footer><%- include('footer')  %></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.1/download.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/sender.js"></script>
   
  </body>
</html>