<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/stats/stats.css">
   
</head>
<body id="respo">
    <header><%- include('navbar')  %></header>
    <!-- getting user type form middleware -->
    <div style="display: none;" id="userType"><%= type %></div>
    <!-- ******************************************************************************** -->


    <table class="table" id="editStorageTable">
        <thead>
            <tr>
                <th>Address</th>
                <th>Capacity</th>
                <th>Cost</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="address"></td>
                <td>
                    <span id="capacity"></span><span> GB</span>
                    <button class="edit-button" id="edit-button-capacity" >
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td>
                    <span id="cost"></span><span> ETH</span>
                    <button class="edit-button" id="edit-button-cost">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td>
                    <span id="status"></span>
                    <select id="statusDropdown" style="display: none;">
                        <option value="Listed">Listed</option>
                        <option value="Canceled">Canceled</option>
                    </select>
                    <button class="edit-button" id="edit-button-status" >
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container mt-5" id="stats-overview-container">
        <div class="row">
          <!-- Box 1 -->
          <div class="col-md-3" id="monthly-revenue">
            <div class="card card-stat" >
              <div class="card-body">
                <h8 class="card-title"> <i class="bi bi-graph-up-arrow icon"></i>  Monthly Revenue</h8>
                <h3 class="card-text">Data </h3>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="daily-cost">
            <div class="card card-stat">
              <div class="card-body">
                <h8 class="card-title"> <i class="bi bi-graph-up-arrow icon"></i>  Daily Cost</h8>
                <h3 class="card-text">Data </h3>
              </div>
            </div>
          </div>
      
          <!-- Box 2 -->
          <div class="col-md-3">
            <div class="card card-stat"id="storagerent">
              <div class="card-body">
                <h8 class="card-title"> <i class="bi bi-database-up icon"></i>Storage Rented</h8>
                <h3 class="card-text" id="storage-rented">Data</h3>
              </div>
            </div>
          </div>
      
          <!-- Box 3 -->
          <div class="col-md-3">
            <div class="card card-stat">
              <div class="card-body">
                <h8 class="card-title"> <i class="bi bi-folder-check icon"></i> Used Space</h8>
                <h3 class="card-text" id="used-space"> Data </h3>
              </div>
            </div>
          </div>
      
          <!-- Box 4 -->
          <div class="col-md-3">
            <div class="card card-stat">
              <div class="card-body">
                <h8 class="card-title"> <i class="bi bi-hourglass-split icon "></i>Contract Tenure</h8>
                <h3 class="card-text" id="end-date">Data </h3>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="mt-5 table-container table-stats">
      <!-- <h2>File Table</h2> -->
      <table class="table" id="filesTable">
        <thead>
          <tr>
            <th scope="col">Serial No</th>
            <th scope="col">File Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="filesTableBody"></tbody>
      </table>
    </div>
    
    <footer><%- include('footer') %></footer>


    <script type="module" src="/stats/stats.js"></script>
</body>
</html>