
body {
    background-color: #f8f9fa; /* Set a light background color */
}

.container {
    max-width: 800px; /* Set a maximum width for the content */
    float: none;
}
.container-fliud{
    float: none;
}
#button{
    width: 150px;
    /* height: 50px; */
}
.btn-marketplace {
    position: relative;
    /* width: 100px; */
    /* height:45px;   */
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #3ed9d9;
    overflow: hidden;
    z-index: 1;
}
.btn-marketplace::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b,#3ed9d9,#25252b
    ,#3ed9d9);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}
.btn-marketplace:hover::before{
    top: 0;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

th,
td {
    padding: 0.75rem;
    vertical-align: top;

    border-top: 1px solid #aacdf0;
    border-bottom: #aacdf0;
}

th {
    background-color: #77a0be;
    color: #fff;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Set a light background color on hover */
}

#storagebtn{
    margin-left: 28rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table{
    margin-top: 0.5rem;
    
}

.table th,
.table td {
    color: var(--secondary-color);
}

@media((min-width:200px) and (max-width:995px))
{
    #storagebtn{
        margin-left: 50%;
        width: 25%;
    }
}


@media((min-width:100px) and (max-width:465px))
{
    #storagebtn{
       margin-left: 40%;
        width: 25%;
        font-size: small;
    }
}

body {
    font-family: 'Arial', sans-serif;
}

.btn-marketplace {
    background-color: #007bff;
}

.btn-marketplace:hover {
    background-color: #0056b3;
}