Default styles for larger screens
body {
    padding-top: 0px;
    /* Adjusted for the height of the navbar */
}

/* Media query for medium-sized screens (tablets, 768px and up) */
@media (max-width: 768px) {
    img {
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        margin:auto;
    }
    h1{
        font-size: 30px;
    }
}

/* Media query for small screens (phones, 576px and up) */
@media (max-width: 576px) {
    /* Adjust styles as needed for small screens */

    img {
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        margin:auto;
    }
    h1{
        font-size: 30px;
    }

    #col-1 {
        margin-left: 0;
        /* Example adjustment for the left margin on small screens */
    }

    .col {
        margin-top: 20px;
        /* Example adjustment for the top margin on small screens */
    }
}

/* Media query for extra-large screens (1200px and up) */
@media (max-width: 1920px) {

    /* Adjust styles as needed for extra-large screens */
    .col {
        margin-top: 50px;
        /* Example adjustment for the top margin on extra-large screens */
    }

    img {
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        margin:auto;
    }
}