.nav-item a{
    font-size: 1.2em;
    padding: 0.5rem 1rem;
}
.row{
    margin-top: 100px;
}
.col h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.col h1{
    text-align: center;
    margin-top: 20px;
    font-family: 'Kalam', cursive;
    color: black; 
    font-size: 3em;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 4s steps(80, end); 
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext { 
 from {
    width: 0;
    transition: all 2s ease-in-out;
 } 
}
/* .row{
    background-image: url(disk.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
} */
/* .flex{
    display: flex;
    justify-content: space-between;
} */