

body {
    background-color: var(--primary-color);
    /* transition: background-color 1.8s, color 1.8s; */
    overflow: scroll; /* Add this line to remove the scrollbar */
}


.row {
    margin-top: 100px;
}

.col h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    color: var(--secondary-color);
}

.col h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Kalam', cursive;
    color: var(--secondary-color);
    font-size: 3em;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 6s steps(80, end) infinite;
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes animtext {
    from {
        width: 0;
        transition: all 3s ease-in-out;
    }
}


:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}


.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color: var(--secondary-color);
    /* transition: background-color 1.8s, color 1.8s; */
}

.bg-dark {
    background-color: var(--primary-color) !important;
    /* Set the background color to white */
    color: var(--secondary-color) !important;
    /* Set the text color to black (optional, adjust as needed) */
    transition: background-color 1.8s, color 1.8s;
}



/* body {
    background-color: var(--primary-color);
    transition: background-color 1.8s, color 1.8s;
} */





.container-flex {
    background-color: var(--primary-color);
    padding-top: 150px;
    /* height: 85vh; */
    transition: background-color 1.8s, color 1.8s;
}




.disk {
    width: 550px;
    margin-top: 3rem;
}


.bxs-cloud:before {
    content: "\ed4a";
    margin-left: 83%;
  }

  .centered-icon {
    color: #2783d0;
    font-size: 200px;
  }

@media((min-width:200px) and (max-width:500px)) {
   

    .col{
        margin-top: 10px;
    }

  

    /* .btn
    {
        width: 100%;
    } */

    .disk {
        width: 262px;
        height: 133px;
        margin-left: 0;
        
    }

    #decmarket
    {
        
        font-size: medium;
        margin-left: 15%;
    }

   
}

@media((min-width:500px) and (max-width:991px))
{
    /* .btn{
        width: 50%;
    } */

    .disk {
        width: 462px;
        height: 233px;
    }
}

@media ((min-width:992px)and (max-width: 1202px))
{
    .disk {
        width: 462px;
        height: 233px;
    }
    .container-flex
    {
        margin-top: -107px;
    }
}




  /* Add this style to hide the navbar content by default on small screens */
@media (max-width: 992px) {
   
    .container-flex
    {
        margin-top: -87px;
    }

    
}

@media(max-width:1132px)
{
    .disk
    {
        margin-left: 30%;
        margin-right: 30%;
    }
}


#username{
    color: red;
    
}
