/*navbar*/
.navbar .navbar-nav .nav-item a{
    padding: 15px;
   
}
.navbar .navbar-nav .nav-but {
    padding: 10px;

}




.btn{
    position: relative;
    width: 100px;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #3ed9d9;
    overflow: hidden;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b,#3ed9d9,#25252b
    ,#3ed9d9);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

@media((min-width:200px)and (max-width:500px))
{
    .btn{
        width: 100%;
    }
}

.btn:hover::before{
    top: 0;
}

.nav-link
{
    margin: 10px 15px ;
}
.nav-link:hover{
    font-family: cursive;
    border-radius: 7px;
    background-color: #3ed9d9;
    
    /* color:black; */
}

#icon
{
    width: 30px;
    cursor: pointer;
    margin-left: 0px 50px 0px 0px;
}

nav ul{
    flex: 1;
    text-align: right;
    position: relative;
    padding-left: 10%;
}




.container-fluid
{
    display: flex;
    justify-content: end;
    float: right;
    /* background-color: white; */
    border: none;

}

.nav-item
{
    display: flex;
    justify-content: end;
    float: right;
    
}



.navbar-nav {
   
    display: flex;
    justify-content: end;
    margin-right: 20px;
    
}

.material-symbols-outlined
{
    margin: 15px 50px 0px 0px;
    font-size: 30px;
    
}

/* ------------------------------------------------------------------------------------------------------------------------- */


