

body {
    background-color: var(--primary-color);
    transition: background-color 1.8s, color 1.8s;
    overflow: hidden; /* Add this line to remove the scrollbar */
}
.login-btn{
    display: block;
}
.signup-btn{
    display: block;
}
.logout-btn{
    display: none;
}
.nav-item a {
    font-size: 1.2em;
    padding: 0.5rem 1rem;
}

.row {
    margin-top: 100px;
}

.col h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    color: var(--secondary-color);
}

.col h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Kalam', cursive;
    color: var(--secondary-color);
    font-size: 3em;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 6s steps(80, end) infinite;
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes animtext {
    from {
        width: 0;
        transition: all 3s ease-in-out;
    }
}


:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}


.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color: var(--secondary-color);
    /* transition: background-color 1.8s, color 1.8s; */
}

.bg-dark {
    background-color: var(--primary-color) !important;
    /* Set the background color to white */
    color: var(--secondary-color) !important;
    /* Set the text color to black (optional, adjust as needed) */
    transition: background-color 1.8s, color 1.8s;
}

.container-fluid {
    background-color: var(--primary-color);
    border: none;
    transition: background-color 1.8s, color 1.8s;
}

*/ body {
    background-color: var(--primary-color);
    transition: background-color 1.8s, color 1.8s;
}





.container-flex {
    background-color: var(--primary-color);
    padding-top: 10px;
    height: 85vh;
    transition: background-color 1.8s, color 1.8s;
}

#icon {
    color: var(--secondary-color);
    text-decoration: none;
    transition: background-color 1.8s, color 1.8s;
}




/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 992px) {
    #icon {
       
        font-size: 36px; 
        width: 100%;
        float: right;
        
    }

    .btn{
        margin-left: 21px;
        /* width: 100%; */
    }
}



.disk {
    width: 550px;
}


.bxs-cloud:before {
    content: "\ed4a";
    margin-left: 83%;
  }

  .centered-icon {
    color: #2783d0;
    font-size: 200px;
  }

@media((min-width:200px) and (max-width:500px)) {
   

   

    .disk {
        width: 262px;
        height: 133px;
    }

}

@media((min-width:500px) and (max-width:991px))
{
    .btn{
        width: 50%;
    }

    .disk {
        width: 462px;
        height: 233px;
    }
}

@media ((min-width:992px)and (max-width: 1202px))
{
    .disk {
        width: 462px;
        height: 233px;
    }
    .container-flex
    {
        margin-top: -107px;
    }
}




  /* Add this style to hide the navbar content by default on small screens */
@media (max-width: 992px) {
    .navbar .navbar-collapse {
        display: none;
    }

    .navbar .navbar-toggler {
        display: block;
    }

    .navbar .navbar-collapse.show {
        display: block;
    }
    .container-flex
    {
        margin-top: -87px;
    }

    
}

@media(min-width:200px) and (max-width:500px)
{
    #navbarToggleBtn
    {
        width: 20%;
        color: var(--secondary-color);
        background: none;
        text-decoration: none;
        /* margin-left: 50px; */
    }
    #navbarSupportedContent
    {
        margin-left: -30px;
    }
   

    .col{
        margin-top: 10px;
    }

    body {
        overflow: hidden;
        position: relative;
    }

    .btn
    {
        width: 100%;
    }
    .container-fluid
    {
        width: 100%;
    }
    
}


