

/* Customize card appearance */
.card {
    margin-top: 30px;
    background-color: #f8f9fa; /* Light gray background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    padding: 20px; /* Add some padding */
    border: 2px solid #3ed9d9;
    box-shadow:0 0 10px  #3ed9d9;
  }
  .card button[type='submit']{
    text-align: center
  }
  /* Center the form title */
  .card-title {
    text-align: center;
  }

  /* Add padding between form elements */
.card-body .form-group {
    margin-bottom: 20px;
   
  }
  .btn-str {
        
    position: relative;
     width: 125px;
     height:50px;  
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #3ed9d9;
    overflow: hidden;
    z-index: 1;
}
.btn-str::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b,#3ed9d9,#25252b
    ,#3ed9d9);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}
.btn-str:hover::before{
    top: 0;
}
  
  /* Optional: Add margin to the submit button */
  .btn-primary {
   text-align: center;
    margin-top: 10px;
    border-radius: 40px;
  }
 
