@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.3rem;
}
p{
    font-family: "Roboto",sans-serif;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
}

/* profile page */
.cards{
    margin-top: 80px;
}
.cards-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.card h1, p{
    text-align: center;
}
.btn-align{
    text-align: center;
    margin-top: 13px;
}
.button{
    background-color: #57c89f;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px black;
}

.button a {
    text-decoration: none; /* Remove underline */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    color: black;
}

.button:hover {
    box-shadow: 0 0 10px black;
}

.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(118, 108, 108, 0.2); */
    transition: 0.3s;
    padding: 40px;
    max-width: 31%;
    box-shadow: 0 0 10px #3ed9d9;
    background-color: var(--primary-color);
    color: var(--secondary-color);
   
}
.card:hover {
    box-shadow: 0px 0px 16px #3ed9d9;

}
.image{
    text-align: center;
}
.image img{
    height: 50px;
}

#card1
{
    background-color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
    .cards-sec {
        flex-direction: column; /* Stack cards vertically on smaller screens */
       
    }

    .card {
        max-width: 100%; /* Adjusted max-width for responsiveness */
    }

    .button {
        padding: 12px 20px; /* Adjusted padding for better mobile experience */
        font-size: 14px; /* Adjusted font size for better mobile experience */
    }

}

@media (min-width: 200px) and (max-width: 500px) {
    #respo {
      overflow: auto; 
    }
  }